<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />
  
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Bienvenido a PyProject v1.0</title>
</head>

<body> 	  
 
  <div id="AdministrarLineasBase">
    <a><h2>Linea Base Seleccionada</h2></a>
    <a><h2>Lista de Items Actualizados</h2></a>    
    <hr width="100%" color="#6699FF" size="2"/>
    <div class="menu">
		<ul>
			<li><a href="/cambiarEstadoPendiente/pendiente?idlineaBase=${idlineaBase}">Pasar a Estado Pendiente</a></li>
		</ul>
    </div>     
    <table rules='rows'>
    	  <tr>
          	<a><h3>ITEMS ACTUALIZADOS</h3></a>         	       	
          </tr>
    
          <tr>
          <th width="1%" height="10">Identificador</th>
          <th width="20%" height="20">Nombre</th>
          <th width="15%" height="20">Estado</th>
          
          </tr>
          
          <tr py:for="i, itemactualizado in enumerate(itemActualizados)" class="${i%2 and 'even' or 'odd'}">
            <td align='center'>${itemactualizado.id_version_item}</td>
            <td>${itemactualizado.item.nom_item}</td>  
            <td>${itemactualizado.id_estado}</td>
          </tr>
    
    </table>      
        <hr width="100%" color="#6699FF" size="2"/>  
    
    <table rules='rows'>
          <tr>
          	<a><h3>ITEMS NO ACTUALIZADOS</h3></a> 
          </tr>
          <tr>
          <th width="1%" height="30">Identificador</th>
          <th width="20%" height="40">Nombre</th>
          <th width="15%" height="40">Estado</th>          
          </tr>
          
          <tr py:for="j, itemanterior in enumerate(itemAnteriores)" class="${j%2 and 'even' or 'odd'}">
            <td align='center'>${itemanterior.id_version_item}</td>
            <td>${itemanterior.item.nom_item}</td>  
            <td>${itemanterior.id_estado}</td>
          </tr>    
    </table> 
    <a href='/lineaBase/index?id_fase=${g.current_phase.id_fase}'><img src="${tg.url('/images/back.png')}"/> ATRAS</a>     
  </div>
 <div class="clearingdiv" />  
</body>
</html>
