<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>TurboGears File Upload Example</title>
</head>

<body>
    
    <form method="post" action="save" enctype="multipart/form-data">
    Seleccione un Archivo:<br />
    <input type="file" name="userfile" /> <br />
    <input type="submit" value="Subir Archivo" />    
    </form>
    
    <h2>Archivo Actual</h2>
    <div py:if='current_file != None'>
    <a href="/file_upload/view/${current_file.id}">${current_file.filename}</a> 
    </div>    

    <a href="/item/atributosItem?id_version=${g.current_item.id_version_item};frompage=${'item'}"><img src="${tg.url('/images/back.png')}"/> ATRAS</a>    
</body>
</html>
