<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />
  
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Item</title>
</head>

<body>   
   <a><h2>Administracion del Proyecto: ${g.current_project.nom_proyecto}</h2></a>
    <a><h2>Administracion de Fase: ${g.current_phase.nom_fase}</h2></a>
	    <a><h2>Lista de Items</h2></a>
    <hr width="100%" color="#6699FF" size="2"/>
  <div>
    ${search()}
  </div>

<div class="menu">
		<ul>
			<!--<span py:if="True">
			<li><a href="#" >Nuevo Item</a></li>            
			</span>-->
			<span py:if="h.has_AnyFasePriv('Usuario',g.current_phase.id_fase) or h.has_rol_proyecto('Lider de Proyecto',g.current_project.id_proyecto)">
			  <li><a href="#" id="current">Usuarios</a>
			    <ul>
					<span py:if="h.has_FasePriv('listar','Usuario',g.current_phase.id_fase) or h.has_rol_proyecto('Lider de Proyecto',g.current_project.id_proyecto) or h.is_type('admin')">
				      <li><a href="/fase/listUsers">Listar Usuarios de esta Fase</a></li>
				    </span>
				    <span py:if="h.has_rol_proyecto('Lider de Proyecto',g.current_project.id_proyecto)">
                      <li><a href="/fase/asignUsers">Asignar Usuarios a esta Fase</a></li>		
                      <li><a href="/fase/quitUsers">Quitar Usuarios de esta Fase</a></li>                                   
                    </span>
                </ul>
              </li>
             </span>
            <span py:if="h.has_rol_proyecto('Lider de Proyecto',g.current_project.id_proyecto)">
              <li><a href="/fase/usersRol">Roles por Usuarios</a></li>
            </span>
            <span py:if="h.has_AnyFasePriv('Linea Base',g.current_phase.id_fase)">             
            <li><a href='/lineaBase/index?id_fase=${g.current_phase.id_fase}' >Administrar Lineas Base</a></li>    			
            </span>
            <li><a href="#">Tipos de Item</a>
              <ul>
                <li><a href="/fase/listTiposItem">Listar Tipos de Item de Fase</a></li>
                <li><a href="/fase/addTiposItem">Administrar Tipos de Item a Fase</a></li>                
              </ul>
            </li>	
		</ul>
	</div>

  <div id="AdministrarItem">    
    <!--<form action="../newItem" >
        <input type="submit" value="Crear Nuevo Item" />  
    </form>
    <form action="../revivirItem" >
        <input type="submit" value="Recuperar Item Eliminado" />  
    </form>-->
    <table rules='rows'>
          <tr>
          <th><a href='/item/newItem?id_fase=${g.current_phase.id_fase}'><img src="${tg.url('/images/new.png')}" alt="Nuevo Item" height="16" width="16"/></a></th>
          <th><a href='/item/revivirItem'><img src="${tg.url('/images/delete.png')}" alt="Revivir Item" height="16" width="16"/></a></th>
          <th></th>
          <th></th>
          <th>Identificador</th>
          <th>Nombre</th>
          <th>Estado</th>          
          <th>Tipo Item</th>          
	  <th>Usr Modif</th>
          <th>Fecha Modif</th>                      
          </tr>
          <tr py:for="i, versionItem in enumerate(items)" class="${i%2 and 'even' or 'odd'}">
            <td><a href='/item/atributosItem?id=${versionItem.id_version_item}'><img src="${tg.url('/images/atributos.png')}" alt="Editar Atributos" height="16" width="16"/></a></td>
	    <td><a href='/item/relacionesItem?id=${versionItem.id_version_item}'><img src="${tg.url('/images/relaciones.png')}" alt="Editar Relaciones" height="16" width="16"/></a></td>                        
            <td><a href='/item/delete?id=${versionItem.id_version_item}'><img src="${tg.url('/images/remove.png')}" alt="Eliminar" height="16" width="16" /></a></td>
            <td><a href='/item/revertItem?id=${versionItem.id_version_item}'><img src="${tg.url('/images/revertir.jpg')}" alt="Revertir" height="16" width="16" /></a></td>
            <td>${versionItem.item.cod_item}</td>
            <td>${versionItem.item.nom_item}</td>
            <td>${versionItem.estado.nom_estado}</td>
            <td>${versionItem.tipoItem.nom_tipo_item}</td>
            <td>${versionItem.usuarioModifico.login_name}</td>
            <td>${versionItem.fecha}</td>            
          </tr>
        </table>

        <a href='/fase/index?id_proyecto=${g.current_project.id_proyecto}'><img src="${tg.url('/images/back.png')}"/> ATRAS</a>    
  </div>

  <div class="clearingdiv" />  
</body>
</html>
