<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />
  
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Bienvenido a PyProject v1.0</title>
</head>

<body>   
  <div class="iconRepresentative">
    <img src="${tg.url('/images/proyecto.jpg')}" height='100' width='200'/>
  </div>
  <div>
    ${search()}
  </div>
  <div id="AdministrarProyecto">
    <a><h2>Administracion de Proyectos</h2></a>
    <form action="./newProject" >
        <input type="submit" value="Crear Nuevo Proyecto" />  
    </form>
    <table rules='rows'>
          <tr>
          <th></th>
          <th></th>
          <th>Identificador</th>
          <th>Nombre</th>
          <th>Descripcion</th>          
          </tr>
          <tr py:for="i, proyecto in enumerate(proyectos)" class="${i%2 and 'even' or 'odd'}">
            <td><a href='./editProject?id=${proyecto.id_proyecto}'><img src="${tg.url('/images/edit.png')}" alt="Editar" height="16" width="16"/></a></td>
            <td><a href='./delete?id=${proyecto.id_proyecto}'><img src="${tg.url('/images/delete.png')}" alt="Eliminar" height="16" width="16" /></a></td>
            <td>${proyecto.id_proyecto}</td>
            <td>${proyecto.nom_proyecto}</td>
            <td>${proyecto.des_proyecto}</td>            
          </tr>
        </table>
  </div>
  <div class="clearingdiv" />  
</body>
</html>
