<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />
  
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Atributo</title>
  <script type='text/javascript'>         
        function popitup(url) {window.open(url,'htmlname','width=800,height=600,resizable=1');}
  </script>
</head>

<body> 
   <a><h2>Administracion del Proyecto: ${g.current_project.nom_proyecto}</h2></a>
   <a><h2>Administracion de Fase: ${g.current_phase.nom_fase}</h2></a>
   <a><h2>Lista de Atributos del item: ${g.current_item.item.nom_item}</h2></a>
   <hr width="100%" color="#6699FF" size="2"/>    
  <div>
    ${search()}
  </div>
  <div id="AdministrarItem">
    <a><h2>Administracion de Atributos de Item</h2></a>
    <span py:if="frompage == u'item'">
        <div class='menu'>
            <ul>
                <li><a href="/item/calcularImpacto?idVersion=${g.current_item.id_version_item}">Calculo de Impacto</a></li>
                <li><a href="#" id="current">Relaciones</a>
			    <ul>
                    <span py:if="g.current_item.estado.nom_estado == 'En Modificacion'">
                        <li><a href="/item/addRelaciones?id_version_item=${g.current_item.id_version_item}">Agregar Relaciones</a></li>                 
                    </span>
                    <li><a href="javascript:popitup('${tg.url('/images/esquemaRelaciones.png')}')">Representacion Grafica</a></li>                                                       
                </ul>
              </li>
            </ul>
        </div>
       
    </span>
    <table rules='rows'>
      <tr>
        <th width="3%"></th>          
        <th width="20%">Atributo  </th>
        <th width="15%">Tipo de Dato  </th>
        <th width="62%">Valor  </th>                    
      </tr>
      <tr>
        <td>
          <span py:if="g.current_item.estado.nom_estado == 'En Modificacion'">
            <a href="/item/editAtributo?peso=0">
            <img src="${tg.url('/images/edit.png')}"/></a>
          </span>
        </td>
        <td>Peso</td>
        <td>numerico</td>
        <td>          
          ${g.current_item.peso}
        </td>
      </tr>
      <tr>
        <td>
          <span py:if="g.current_item.estado.nom_estado == 'En Modificacion'">
            <a href="/item/editAtributo?obs=0">
            <img src="${tg.url('/images/edit.png')}"/></a>
          </span>
        </td>
        <td>Observaciones</td>
        <td>texto</td>
        <td>          
          ${g.current_item.observaciones}
        </td>
      </tr>
	  <tr py:for="i, atributoItem in enumerate(atributosItem)" class="${i%2 and 'even' or 'odd'}">        
        <td>
            <span py:if="g.current_item.estado.nom_estado == 'En Modificacion' and not atributoItem.atributo.tipoDatoAtributo.nom_tipo_dato == 'archivo'">
              <a href="/item/editAtributo?id_atributo=${atributoItem.id_atributo};id_version_item=${atributoItem.id_version_item}">
              <img src="${tg.url('/images/edit.png')}"/></a>
            </span>
        </td>                
        <td>${atributoItem.atributo.nom_atributo} </td>
	    <td>${atributoItem.atributo.tipoDatoAtributo.nom_tipo_dato}</td>            
	    <td>
		  <span align="center" py:if="atributoItem.atributo.tipoDatoAtributo.nom_tipo_dato == 'archivo'">		    
            <span py:if="g.current_item.estado.nom_estado == 'En Modificacion' and atributoItem.atributoArchivo == None">
              <a align="center" href="/file_upload/file_upload?idAtributo=${atributoItem.atributo.id_atributo};idVersionItem=${g.current_item.id_version_item}">
              <img src="${tg.url('/images/attach.png')}" alt="Cargar Archivo" height="16" width="16" align="center"/>Adjuntar</a>
            </span>  
                <span py:if="atributoItem.atributoArchivo != None">
                    ${atributoItem.atributoArchivo.filename}
                    <a align="center" href="${tg.url('./download', tg.request.params, idAtributo=atributoItem.atributo.id_atributo, idVersionItem=g.current_item.id_version_item)}">
                    <img src="${tg.url('/images/download.png')}" alt="Descargar Archivo" height="16" width="16" align="center"/>Descargar</a> 
                    <a align="center" href="/file_upload/file_upload?idAtributo=${atributoItem.atributo.id_atributo};idVersionItem=${g.current_item.id_version_item}">
                    <img src="${tg.url('/images/attach.png')}" alt="Cargar Archivo" height="16" width="16" align="center"/>Cambiar</a>
                </span>                
          </span>
		  <span py:if="atributoItem.atributo.tipoDatoAtributo.nom_tipo_dato != 'archivo'">		    
            ${atributoItem.val_atributo}            
		  </span>
	    </td>
      </tr>
    </table>
    <a><h2>Administracion de Relaciones de Item</h2></a>    
    <table rules='all'>
        <tr>
            <th width="25%">Padres</th>
            <th width="25%">Hijos</th>
            <th width="25%">Antecesores</th>
            <th width="25%">Sucesores</th>        
        </tr>
        <tr>
            <td>
                <span py:for="padre in relaciones[0]">
                    <span py:if="g.current_item.estado.nom_estado == 'En Modificacion'">
                        <a href='/item/delPadre?id_version_item=${padre.id_version_item}'>
                        <img src="${tg.url('/images/eliminar.png')}" alt="Eliminar" height="16" width="16" title='Eliminar Relacion'/>
                        </a> 
                    </span>
                    ${padre.item.nom_item} -> (${padre.estado.nom_estado})<br />
                </span>                               
            </td>
            <td><span py:for="hijo in relaciones[1]">                    
                    ${hijo.item.nom_item} -> (${hijo.estado.nom_estado})<br />
                </span>                
            </td>
            <td><span py:for="antecesor in relaciones[2]">
                    <span py:if="g.current_item.estado.nom_estado == 'En Modificacion'">
                        <a href='/item/delAntecesor?id_version_item=${antecesor.id_version_item}'>
                        <img src="${tg.url('/images/eliminar.png')}" alt="Eliminar" height="16" width="16" title='Eliminar Relacion'/>
                        </a> 
                    </span>
                    ${antecesor.item.nom_item} -> (${antecesor.estado.nom_estado})<br />
                </span>                
            </td>
            <td><span py:for="sucesor in relaciones[3]">                    
                    ${sucesor.item.nom_item} -> (${sucesor.estado.nom_estado})<br />
                </span>                
            </td>
        </tr>        
    </table>
    <span py:if="frompage == u'item'">
        <a href='/item/adminItem?faseid=${g.current_phase.id_fase}'><img src="${tg.url('/images/back.png')}"/> ATRAS</a>    
    </span>
    <span py:if="frompage == u'revivir'">
        <a href='/item/revivirItem'><img src="${tg.url('/images/back.png')}"/> ATRAS</a>    
    </span>
  </div>
  <div class="clearingdiv" />  
</body>
</html>
