<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />
  
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Lista de Items</title>
</head>

<body>   
   <a><h2>Administracion del Proyecto: ${g.current_project.nom_proyecto}</h2></a>
   <a><h2>Administracion de Fase: ${g.current_phase.nom_fase}</h2></a>
   <a><h2>Lista de Items</h2></a>
   <hr width="100%" color="#6699FF" size="2"/>   
  <div>
    ${search()}
  </div>

<div class="menu">
		<ul>
			<span>
              <li><a href="#" id="current">Item</a>
                <ul>
                    <li><a href="/item/newItem">Nuevo Item</a></li>
                    <li><a href="/item/revivirItem">Revivir Item</a></li>
                </ul>
              </li>              
            </span>
			<span py:if="h.has_AnyFasePriv('Usuario',g.current_phase.id_fase) or h.has_rol_proyecto('Lider de Proyecto',g.current_project.id_proyecto)">
			  <li><a href="#" id="current">Usuarios</a>
			    <ul>
					<span py:if="h.has_FasePriv('listar','Usuario',g.current_phase.id_fase) or h.has_rol_proyecto('Lider de Proyecto',g.current_project.id_proyecto) or h.is_type('admin')">
				      <li><a href="/fase/listUsers">Listar Usuarios de esta Fase</a></li>
				    </span>
				    <span py:if="h.has_rol_proyecto('Lider de Proyecto',g.current_project.id_proyecto)">
                      <li><a href="/fase/asignUsers">Asignar Usuarios a esta Fase</a></li>		
                      <li><a href="/fase/quitUsers">Quitar Usuarios de esta Fase</a></li>                                   
                    </span>
                </ul>
              </li>
             </span>
            <span py:if="h.has_rol_proyecto('Lider de Proyecto',g.current_project.id_proyecto)">
              <li><a href="/fase/usersRol">Roles por Usuarios</a></li>
            </span>
            <span py:if="h.has_AnyFasePriv('Linea Base',g.current_phase.id_fase)">
            <li><a href='/lineaBase/index?id_fase=${g.current_phase.id_fase}' >Administrar Lineas Base</a></li>    			
            </span>
            <li><a href="#">Tipos de Item</a>
              <ul>
                <li><a href="/fase/listTiposItem">Listar Tipos de Item de Fase</a></li>
                <li><a href="/fase/addTiposItem">Administrar Tipos de Item a Fase</a></li>                
              </ul>
            </li>	
		</ul>
	</div>

  <div id="AdministrarItem">    
    <table rules='rows'>
          <tr>          
            <th width="3%"></th>
            <th width="3%"></th>
            <th width="3%"></th>            
            <th width="10%">Codigo</th>
            <th width="10%">Nombre</th>
            <th width="15%">Estado</th>          
            <th width="10%">Tipo Item</th>          
            <th width="15%">Usuario Modifico</th>
            <th width="15%">Fecha Modificacion</th>                                             
          </tr>
          <tr py:for="i, versionItem in enumerate(items)" class="${i%2 and 'even' or 'odd'}">
            <td>
                <span py:if="versionItem.estado.nom_estado != 'Aprobado'">
                <a href="/item/history?id_item=${versionItem.id_item}">
                <img src="${tg.url('/images/versions.png')}" width="16" height="16" title='Versiones de Item'/>
                </a>
                </span>                
            </td>   
            <td>
                <span py:if="versionItem.estado.nom_estado == 'En Modificacion'">
                  <a href="/item/aEliminar?id_version_item=${versionItem.id_version_item}">
                  <img src="${tg.url('/images/del.png')}" width="16" height="16" title='Eliminar Item'/>
                  </a>
                </span>
                <span py:if="versionItem.estado.nom_estado != 'En Modificacion' and versionItem.estado.nom_estado != 'Aprobado'">
                  <a href="/item/aModificar?id_version_item=${versionItem.id_version_item}">
                  <img src="${tg.url('/images/edit.png')}" width="16" height="16" title='Pasar a estado de Modificacion de Item'/>
                  </a>
                </span>
            </td>
            <td>
                <span py:if="versionItem.estado.nom_estado == 'En Modificacion'">
                  <a href="/item/aPendiente?id_version_item=${versionItem.id_version_item}">
                  <img src="${tg.url('/images/save.png')}" width="16" height="16" title='Guardar para Aprobacion'/>
                  </a>
                </span>
                <span py:if="versionItem.estado.nom_estado == 'Eliminar'">
                  <a href="/item/aEliminado?id_version_item=${versionItem.id_version_item}">
                  <img src="${tg.url('/images/rconfirmar.png')}" width="16" height="16" title='Confirmar la Eliminación'/>
                  </a>
                </span>
                <span py:if="versionItem.estado.nom_estado == 'Pendiente'">
                  <a href="/item/confirmar?id_version_item=${versionItem.id_version_item}">
                  <img src="${tg.url('/images/confirmar.png')}" width="16" height="16" title='Confirmar Item'/>
                  </a>
                </span>
            </td>                     
            <td align='center'>${versionItem.item.cod_item}</td>
            <td><a href="/item/atributosItem?id_version=${versionItem.id_version_item};frompage=${'item'}">${versionItem.item.nom_item}</a></td>
            <td align='center'>${versionItem.estado.nom_estado}</td>
            <td align='center'>${versionItem.tipoItem.nom_tipo_item}</td>
            <td align='center'>${versionItem.usuarioModifico.login_name}</td>
            <td>${versionItem.fecha}</td>                        
          </tr>
        </table>

        <a href='/fase/index?id_proyecto=${g.current_project.id_proyecto}'><img src="${tg.url('/images/back.png')}"/> ATRAS</a>    
  </div>

  <div class="clearingdiv" />  
</body>
</html>
