<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />
  
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Bienvenido a PyProject v1.0</title>
</head>

<body>
    
    <h1>Registrar Nuevo Item</h1>
    <span py:if="ciclo == 1">
        <img src="${tg.url('/images/ciclo.png')}" alt="Ciclo Formado"/><br />
        <a href='/item/newItem'><img src="${tg.url('/images/back.png')}"/> ATRAS</a> 
    </span>    
    <span py:if="ciclo == 0">
        <div py:replace="tmpl_context.form(child_args=dict(tipoItem=dict(options=type_options),
                                                       antecesor=dict(options=ancestros),
                                                       padres=dict(options=padres)))">Input Form</div>
    </span>
  
</body>
</html>

